* {
    font-family: Arial;
    box-sizing: border-box;

    text-align: center;
}

.todoListContainer {
    width: 25vw;
    margin: 0 auto;

}

.todoItem {
    padding: 1rem;
    cursor: pointer;
    
}

.todoItem:nth-child(even) {
    background-color: #EEEEEE;
}

.todoItem:nth-child(odd) {
    background-color: #DDDDDD;
}

.todoItem h2, p {
    margin: 0 auto;
    text-align: left;
}

.completed {
    color: #CCCCCC;
    background-color: white;
}

.taskName::before, .taskName::after {
    color: black;
    margin-right: 1rem;
}

.taskName::before {
    content: "☐";
}

.completed .taskName::before {
    content: "☑";
}